
.content {
	display: flex;
	justify-content: space-between;

}
.instructions {
	width: 30rem;
	margin: 2rem;
}
.considerations {
	width: 20rem;
	margin: 2rem;
}
.featuring {
	margin: 2rem;
}


#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;

}
#videoElement {
	width: 500px;
	height: 375px;

}
button {
	color: rgb(0, 0, 0);
background-color: rgb(238, 238, 238);
font-family: 'Roboto Mono';
width: 6rem;
height: 3rem;
text-align: center;
box-shadow: 1px 2px 1px 2px rgb(136, 129, 129);
border-radius: 5%;
}
button:hover {
	box-shadow: 2px 2px 0px 0px rgb(131, 131, 131);
}
a {
	font-family: 'Roboto Mono';
	text-decoration: none;
	font-size: 1.5rem;
	width: 6rem;
	height: 3rem;
}
body {
    /* background-image:url(/img/cloud.png); */
    background-position:center;
    background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto Mono';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
* {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 6rem;
}
.note {
	font-size: 2rem;
	text-align: center;
}

@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(50px); }
  }
h1 {
    animation: bounce 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.message {
	font-size: 0.9rem;
	color: blue;
}


@media (max-width:550px) {
	body {
	}
	
	.content {
		flex-direction: column;
		align-items: center;
	}
	.featuring {
		display: none;
	}
	.considerations {
		font-size: 10px;
		width: 20rem;
	}
	.instructions {
		font-size: 10px;
		width: 20rem;
		padding-top: 50px;

	}
	body {
		width: 100vw;
		
	}
	h1 {
		font-size: 2rem;
		margin-top: 5rem;
	}
	.note {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	.container {
		display: flex;
		justify-content: center;
	}
	#videoElement {
		width: 120vw;
	
	}
	body {
		width: 100vw;
		height: 100vh;
	}
	button {
		margin-bottom: 7rem;
	}
}