#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;

}
#videoElement {
	width: 500px;
	height: 375px;

}
a {
	color: rgb(255, 0, 0);
	text-decoration: none;
	font-size: 3rem;
}
body {
    background-image:url(/img/cloud.png);
    background-position:center;
    background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto Mono';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
* {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 6rem;
}
.note {
	font-size: 2rem;
	text-align: center;
}

@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(50px); }
  }
h1 {
    animation: bounce 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.message {
	font-size: 0.9rem;
	color: blue;
}


@media (max-width:450px) {
	body {
		width: 100vw;
	}
	h1 {
		font-size: 2rem;
	}
	.note {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	.container {
		display: flex;
		justify-content: center;
	}
	#videoElement {
		width: 120vw;
		
		/* margin-left: 50vw; */
	}
	body {
		width: 100vw;
		height: 100vh;
	}
}