
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100vw;
    color: black;
    height: 100vh;
    /* background-color: rgb(40, 40, 40); */
    font-family: 'Roboto Mono';
    /* background-image:url(/img/cloud.png); */
    background-position:center;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
}

button, input, select {
    cursor: pointer;
}
.header {
    grid-row: 1 / 2;
}
.ringSpecifier {
    grid-row: 3 / 4;
}


/* buttons */ 


/* TOWER STYLING */

.base {
    width: 400px;
    height: 10px;
    /* margin: 0rem 0rem; */
}

.tower {
    width: 5px;
    height: 525px;
    /* background-color: rgb(75, 75, 75); */
    box-shadow: 1px 1px 50px 1px gray;
    border: rgb(81, 78, 94) double;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    align-items: flex-end;
}
.invisible {
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    max-height: 500px;
}

.pillars {
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.pillar {
    /* margin: 0 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* RING STYLING */

.ringEight {
    position: absolute;
    top: 30;
}
.ringSeven {
    position: absolute;
    top: 30;
}
.ringSix {
    position: absolute;
    top: 30;
}
.ringFive {
    position: absolute;
    top: 30;
}

.ringFour {
    position: absolute;
    top: 30;
}

.ringThree {
    position: absolute;
    top: 30;
}

.ringTwo {
    position: absolute;
    top: 30;
}
.ringOne {
    position: absolute;
    top: 30;
}

.ring {
    border:  rgb(68, 66, 66) solid;
    box-shadow: -1px 5px 0px 1px rgb(164, 162, 162);
    border-radius: 50%;
    background-color: white;
}



/* HEADER */
.header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
/* COUNTER STYLING */ 
.counters {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 1rem;
    height: 4rem;
    /* border: red solid; */
    justify-content: space-between;
}
.counter {
    display: flex;
    justify-content: space-between;
}
/* RESET BUTTON */

.reset {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

#submit,
.reset,
#ringCount {
color: rgb(0, 0, 0);
background-color: rgb(238, 238, 238);
font-family: 'Roboto Mono';
width: 6rem;
height: 3rem;
text-align: center;
box-shadow: 1px 2px 1px 2px rgb(136, 129, 129);
border-radius: 5%;
}
#submit:hover,
.reset:hover,
#ringCount:hover{
    color: rgb(0, 85, 196);
    box-shadow: 2px 2px 0px 0px rgb(131, 131, 131);
}

/* WIN STATEMENT */
.winCondition {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin: 1rem;

}
.winCondition {
    width: 50rem;
} 
/* LINE STYLING */
.lineOne {
    border-bottom: black solid;
    top: 30px;
    position: absolute;
    width: 100vw;
}
.lineTwo {
    border-bottom: black solid;
    bottom: 30px;
    position: absolute;
    width: 100vw;
}
.lineThree {
    border-bottom: red solid;
    left: 30px;
    position: absolute;
    height: 100vh;
}
.lineFour {
    border-bottom: black solid;
    right: 30px;
    position: absolute;
    height: 100vh;
}

/* DROP DOWN */

.ringSpecifier {
    font-size: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ringCount {
    font-size: 1.3rem;
    margin: 1rem;
}
#submit {
    font-size: 1.2rem;
}

@keyframes bounce { 
    0% { transform: translateY(10px); }
    100% { transform: translateY(5px); }
  }
.instruct {
    color: rgb(0, 86, 199);
    font-size: .8rem;
    margin-left: 1rem;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
}

.mobile {
    display: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: red;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1400px) {
    .pillar {
        margin: 0;
    }
    .ringEight {
        width: 225px !important;
    }
    .ringSeven {
        width: 200px !important;
    }
    .ringSix {
        width: 175px !important;
    }
    .ringFive {
        width: 150px !important;
    }
    
    .ringFour {
        width: 125px !important;
    }
    
    .ringThree {
        width: 100px !important;
    }
    
    .ringTwo {
        width: 75px !important;
    }
    .ringOne {
        width: 50px !important;
    }
}
@media (max-width: 1195px) {
    .mobile {
        /* opacity: 100; */
        /* z-index: 1; */
        text-align: center;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    body {
        width: 0vw;
        height: 0vh;
        overflow-x: hidden;
        overflow-y: hidden;
        background-image: none !important;
        background-color: white;
        color: black;
    
    }
    .counters,
    label,
    #submit{
        font-size: 1rem;
    }
    .base,
    .invisible {
        width: 200px;
    
    }
    .instruct {
        color: red;
    }
    .winner {
        font-size: 1.3rem;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reset {
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
    }
    #ringCount {
        width: 2.5rem;
        height: 2rem;
    }
}