
body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100vw;
    color: whitesmoke;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    font-family: 'Roboto Mono';
    background-image:url(/Towers_of_Hanoi/img/cloud.png);
    background-position:center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

button, input, select {
    cursor: pointer;
}
.header {
    grid-row: 1 / 2;
}
.ringSpecifier {
    grid-row: 3 / 4;
}
/* TOWER STYLING */

.base {
    width: 400px;
    height: 10px;
    /* background: gray; */
    margin: 0rem 0rem;
}

.tower {
    width: 5px;
    height: 525px;
    background-color: gray;

    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    display: flex;
    align-items: flex-end;
}
.invisible {
    width: 400px;
    height: 500px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* border: brown solid; */
    max-height: 500px;
    
}

.pillars {
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* margin-top: 20rem; */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* border: red solid; */
    /* width: 50%; */

}

.pillar {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
   
    /* border: black solid; */
}

/* RING STYLING */

.ringEight {
    position: absolute;
    top: 30;
    /* bottom: 0px; */
}
.ringSeven {
    position: absolute;
    top: 30;
    /* bottom: 0px; */
}
.ringSix {
    position: absolute;
    top: 30;
    /* bottom: 0px; */
}
.ringFive {
    position: absolute;
    top: 30;
    /* bottom: 0px; */
}

.ringFour {
    position: absolute;
    top: 30;
    /* bottom: 75px; */
}

.ringThree {
    position: absolute;
    top: 30;
    /* bottom: 150px; */
}

.ringTwo {
    position: absolute;
    top: 30;
    /* bottom: 225px; */
}
.ringOne {
    position: absolute;
    top: 30;
    /* bottom: 300px; */
    /* background-image:url(/Towers_of_Hanoi//img//deer1.jpeg);
    background-size: 150px 50px;
    object-fit:scale-down;
    background-repeat: repeat; */
}

.ring {
    border: rgb(68, 66, 66) solid;
    box-shadow: -1px 5px 0px 1px rgb(164, 162, 162);
    border-radius: 50%;
    background-color: white;
}



/* HEADER */
.header {
    display: flex;
    width: 100vw;
    /* border: orange solid; */
    justify-content: space-between;
}
/* COUNTER STYLING */ 
.counters {
    /* margin: 3rem; */
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 1rem;
}
/* RESET BUTTON */

.reset {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

#submit,
.reset,
#ringCount {
color: black;
background-color: rgb(167, 166, 166);
font-family: 'Roboto Mono';
width: 6rem;
height: 3rem;
text-align: center;
}
#submit:hover,
.reset:hover,
#ringCount:hover{
    color: red;
    box-shadow: 1px 1px 5px 1px rgb(255, 0, 0);
}

/* WIN STATEMENT */
.winCondition {
    display: flex;
    width: 100vw;
    /* position: absolute;
    top: 250px; */
    /* border: solid red; */
    justify-content: center;
    margin: 1rem;

}
.winCondition {
    width: 50rem;
    /* border: solid red; */
} 
/* LINE STYLING */
.lineOne {
    border-bottom: black solid;
    top: 30px;
    position: absolute;
    width: 100vw;
}
.lineTwo {
    border-bottom: black solid;
    bottom: 30px;
    position: absolute;
    width: 100vw;
}
.lineThree {
    border-bottom: red solid;
    left: 30px;
    position: absolute;
    height: 100vh;
}
.lineFour {
    border-bottom: black solid;
    right: 30px;
    position: absolute;
    height: 100vh;
}

/* DROP DOWN */

.ringSpecifier {
    font-size: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ringCount {
    font-size: 1.3rem;
    margin: 1rem;
}
#submit {
    font-size: 1.2rem;
}

@keyframes bounce { 
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
  }
.instruct {
    color: yellow;
    font-size: .8rem;
    margin-left: 1rem;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    opacity: 0;
}